/*--Contact Us*/
.contactus
{
    background: linear-gradient(135deg, #25aae1, #4481eb, #04befe, #3f86ed);

    .wm-contactus
    {
        position: absolute;
        z-index: 1;
        white-space: nowrap;
        opacity: 0.3;
        left: 50%;
        color: #fff;
        transform: translateX(-50%) translateY(-120%);
    }

    form
    {
        input, textarea
        {
            transition: all 0.5s;

            &:focus
            {
                box-shadow: 0px 0px 10px rgba(0, 125, 255, 0.5);
            }
        }
    }
}