/*--Fonts--*/
.font-baloo
{
    font-family: 'Poppins', sans-serif;
}
.font-roboto
{
    font-family: 'Roboto', sans-serif;
}

.font-audiowide
{
    font-family: $font-audiowide;
}

.font-size-27
{
    font-size: 27px;
}
.font-size-40
{
    font-size: 40px;
}
.font-size-50
{
    font-size: 50px;
}

.font-size-60
{
    font-size: 60px;
}
.font-size-70
{
    font-size: 70px;
}